@model CategoryViewModel

<div class="container mt-5">
    <input asp-for="@Model.Id" type="hidden" />
    <h2>Update Category</h2><br />


    <form method="post" class="mt-4" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" required>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.DisplayOrder"></label>
            <input asp-for="@Model.DisplayOrder" class="form-control" required min="1" max="100">
            <span asp-validation-for="@Model.DisplayOrder" class="text-danger"></span>
        </div>

        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="form-group">
                <label>Current Image:</label>
                <img src="@Model.ImageUrl" alt="Current Image" style="max-width: 200px;" />
            </div>
        }

        <div class="form-group">
            <label asp-for="@Model.Image"></label>
            <input type="file" asp-for="@Model.Image" class="form-control">
        </div><br />

        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-page="/Category" class="btn btn-secondary">Cancel</a>
    </form>

   
</div>

