@model List<TeamViewModel>



<h2>Teams Index</h2>
<a asp-controller="Team" asp-action="Create" class="btn btn-primary">Create Team</a>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Team Type</th>
            <th>League</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Id</td>
                <td>@team.Name</td>
                <td><img src="@team.ImageUrl" alt="@team.Name" width="40"></td>
                <td>@team.TeamTypeName</td>
                <td>@team.LeagueName</td>
            </tr>
        }
    </tbody>
</table>
